.game {
  position: relative;
}

.game .controls {
  position: absolute;
  z-index: 100;
}

.game .controls button {
  line-height: 2em;
  width: 4em;
}

.frame {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #efefef;
  z-index: 50;
}

.board {
  display: block;
  padding-top: 40px;
}

.board .row {
  display: block;
  width: 100%;
  margin-top: -6px;
}
.board .row:nth-child(even) {
  margin-left: 28px;
}

.board .cell {
  display: inline-block;
  position: relative;
  width: 56px;
  height: 54px;
  background: url(sand.png) center -6px no-repeat;
}

.board .cell.filled {
  background: url(orange.png) center -6px no-repeat;
}

.board .cell.unit {
  background: url(green.png) center -6px no-repeat;
}

.board .cell.unit {
  background: url(green.png) center -6px no-repeat;
}

.board .cell.pivot::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3px 0 0 -3px;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  width: 6px;
  height: 6px;
  border-radius: 50%;
};
